button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    /* background-color: #4CAF50; */
    cursor: pointer;
    transition: border 0.3s;
    border-radius: 6px;
    background-color: white;
}

button.active {
    border: 2px solid rgb(73, 73, 73);
}

button.disabled {
    cursor: not-allowed;
    opacity: 0.5; /* Giảm độ sáng cho nút không hoạt động */
}
.pagination{
    display: flex;
    align-items: center;
}
/* button:hover:not(.disabled) {
    background-color: #45a049;
} */
.icon{
    justify-items: baseline;
}